/*  **********************************
*  Author      :   Kang
*  DateCreated :   
*  DateUpdated :   
*  Remake      :   
*  *********************************/

.div_container
{
    padding: 6px;
    margin-bottom:10px;
}

.div_toolbar
{
    padding: 0px 6px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
    background-color: #F6F9FD;
}
.div_toolbar .div_navigation{}
.div_toolbar .div_add{}

.div_filter
{
    margin-top: 6px;
    padding-left: 6px;
    padding-top:2px;
	height: 28px;
	font-size: 14px;
    background-color: #F6F9FD;
    border-bottom:2px solid #3A5774;
}

.div_list
{
	margin-top: 6px;
}
.div_list table.tb
{
    background-color:#C4CACD; color:#333333;width:100%; line-height:26px;
}
.div_list table.tb tr.trHead
{
    background-color:#C1D9FF;
}
.div_list table.tb tr.trDisabled
{
    color:#A0A0A0;
}
.div_list table.tb tr.trDisabled a
{
    color:#A0A0A0;
}
.div_list table.tb tr
{
    background-color:#FFFFFF;
}
.div_list table.tb tr td
{
    text-align:center;
}

.div_footer{}

input, select
{
    font-size:14px;
}
.txtCommon
{
    width:160px;
    line-height:20px;
    height:20px;
    border:1px solid #949494;
    padding-left:2px;
}
.btnCommon
{
    padding-left:6px;
    padding-right:6px;
    height:26px;
    line-height:22px;
}
.mar_top_3px
{
    margin-top:3px;
}
.lightBoxMessage
{
    display:none;
}
