*
{
	padding:0px;
	margin:0px;
}
body
{
	font-size:12px;
	font-family:"宋体";
	color:#333333;
	background:#FFFFFF url(../images/login/loginbg.jpg) repeat-x;
}
#divNoscript
{
	width:50%;
	margin-top:250px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	font-size:20px;
	font-weight:bold;
}
#divNoscript p
{
	line-height:37px;
}
#divNoscript img
{
	vertical-align:middle;
	margin-right:7px;
	margin-top:-7px;
	float:left;
}
#container
{
	margin-top:99px;
	background:url(../images/login/login_containerbg.gif) no-repeat;
	width:860px;
	height:451px;
}
.submitbt
{
	width:83px;
	height:30px;
	border:0px;
	margin-top:4px;
	margin-right:12px;
	margin-left:3px;
	background:url(../images/login/loginbt.gif) no-repeat;
}
.login
{
	float:right;
	width:230px;
	margin-top:182px;
}
#tip
{
	height:26px;
	color:Red;
}
ul
{
	list-style-type:none;
	height:30px;
	line-height:30px;
}
ul li
{
	height:30px;
}
#username,#password
{
	width:140px;
	padding:3px 2px;
}
input.classOne
{
	border:1px solid #999999;
	background-color:#FFFFFF;
}
.changClassName
{
	border:1px solid #0B5AAE;
	background-color:#B3E3F7;
}
#code
{
	width:60px;
	padding:3px 2px;
}
input,img
{
	vertical-align:middle;
}
img
{
	margin-left:10px;
}