/*  **********************************
 *  Author      :   Kang
 *  DateCreated :   2010-4-13
 *  DateUpdated :   2011年7月30日
 *  Remake      :   
 *  *********************************/
html{ overflow-y:scroll;}
body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
	margin:0;
	padding:0;
}
body 
{
    min-width:1000px;
    background:none repeat scroll 0 0;
    font-family:"宋体",Arial,Lucida,Verdana,Helvetica,sans-serif;
    font-size:12px;
    line-height:1.5em;
    color:#5b5b5b;
}
a:link,a:visited{text-decoration:none;color:#00F;}
a:hover,a:active{text-decoration:underline;color:#f00;}
img,button,select,textarea{
	vertical-align:middle;
}
.checkbox
{
	vertical-align: -2px;
	_vertical-align: 0px;
	margin-right: 0px;
}
.chk_txt
{
	font:12px/1.125 Arial,Helvetica,sans-serif;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
li
{
    list-style-type:none;
}
ol,ul
{
    list-style:none outside none;
}
img,a img
{
    border:0 none;
}
.tl
{
    text-align:left;
}
.tc
{
    text-align:center;
}
.tr
{
    text-align:right;
}

.fl{float:left;_display:inline;/*for ie6*/}
.fr{float:right;_display:inline;}
.overflow {
    overflow: hidden;
}
.dis {
    display: block;
}
.undis {
    display: none;
}
.show
{
    display:block;
}
.hide
{
    display:none;
}
.red{
	color:Red;
}
/* 清除浮动 */
.clear{
	clear: both;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

/* -qq
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
*/

/* 清除浮动 - End */
/* kang
.clear{
	clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.clearfix{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility: hidden;
}
.clearfix{
	height:1%;
}
.cloverflow{
	overflow:hidden;
	height:1%;
}
.clear{
	clear:both;
	font-size:1px;
	height:0px;
}
*/

/*  footer  */
.footer
{
    width:1000px;
    margin:0px auto;
    text-align:center;
    color:#5b5b5b;
}
.footer .col94
{
	color:#949494;
}
.footer div
{
    margin-top:10px;
    line-height:45px;
    color:#5b5b5b;
}
.footer .logo
{
    margin-right:30px;
}
/*  footer end  */
.marL30
{
    margin-left:30px;
}
.wid122
{
	width:122px;
}

/**内容Top模板**/
.master_bg
{
	background:url("/images/masterTop.jpg") no-repeat center 60px;
}
.top_nav
{
	background:url("/images/main_top_bg.jpg") repeat-x left top;
	height:402px;
}
.top_flash_box
{
	width:978px; height:402px; margin:0px auto; overflow:hidden;
}
/**End**/

/*面包屑*/
.tipNav
{
    height:56px;
    text-align:right;
    padding-right:20px;
    background:url("/images/bgTipDl.jpg") no-repeat left top;
    line-height:56px;
    color:#f58c92;
}

.tipNav a:link,.tipNav a:visited
{
    color:#f58c92;
}
/*footer.html文件提取前样式
.masterBlankDiv
{
    height:200px;
    padding-top:50px;
}
.masterBlankDiv .footer
{
    margin-top:0px;
}
*/
.footerBox
{
    height:413px;
	padding-top:60px;
    background:url("/images/footBg.jpg") no-repeat center top;
}
.masterContainer .footerBox
{
    height:200px;
    padding-top:50px;
	background:none;
}
.masterContainer .footerBox .footer
{
    margin-top:0px;
	line-height:22px;
}
.index_b .footerBox
{
	height:80px;
	padding-top:20px;
	background:none;
}
.main .footerBox
{
	height:80px;
	padding-top:0px;
	background:none;
}
b.dot
{
	font-family:Arial;
	font-size:18px;
	color:#9B1313;
	margin-right: 4px;
	vertical-align: middle;
}
#email_note_tags{position:absolute;width:239px;font-size:14px;padding:0;margin:0;list-style:none;border:1px solid #ccc;background:#fff;z-index:999;overflow-x:hidden;}
#email_note_tags li{list-style:none;margin:0 1px;padding:0 5px;height:20px;line-height:20px;color:#999;text-align:left;cursor:pointer;}
#email_note_tags .sel{background:#E8F4FC;color:#000;}

.min_height710
{
	height: auto !important;
	height: 710px;
	min-height: 710px !important;
}
.min_height750
{
	height: auto !important;
	height: 750px;
	min-height: 750px !important;
}
.nodata
{
	height:500px;
	line-height:300px;
	font-size:14px;
	text-align:center;
}


.thickframe{position:fixed;top:0;left:0;z-index:10000000;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity=0);opacity:0;}
.thickdiv{position:fixed;top:0;left:0;z-index:10000001;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity=15);opacity:0.15;}
.thickbox{position:absolute;z-index:10000002;overflow:hidden;box-shadow:0 7px 7px #666666;border:1px solid #3A5774;background:#C1D9FF;padding:4px;}
.thicktitle{height:27px;padding:0 10px;border:solid #FFF;border-width:1px 1px 0;background:#E0EDFE;line-height:27px;font-family:arial,"宋体";font-size:14px;font-weight:bold;color:#333;}
.thickclose:link,.thickclose:visited{display:block;position:absolute;z-index:100000;top:10px;right:12px;overflow:hidden;width:15px;height:15px;background:url(/images/dialog_close_box.gif) no-repeat 0 0px;font-size:0;line-height:100px;}
.thickcon{overflow:auto;background:#fff;border:1px solid #fff;padding:10px;text-align:center;vertical-align:middle;}
.thickloading{background:url(/images/loading.gif) #fff no-repeat center center;}
.thickcountdown{height:20px;padding-right:6px;margin-top:-20px;text-align:right;color:#999;}
.thickimgcount{position:absolute;z-index:100000;bottom:6px;right:12px;text-align:right;color:#999;}
.thickimgcount span{ color:Red;}
*html .thickframe{position:absolute;}
*html .thickdiv{position:absolute;}
